#notifications {
    /* background-color: #2f1e6599; */
    border-radius: 10px;
    gap: 5px;
    position: absolute;
    right: 9%;
    z-index: 50;
    top: 13%;
    height: 200px;
    width: 280px;
    border: 1px solid darkgray;
    overflow-y: auto;
    background-color: #181838fa;
}

#notifications img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

#notifications h3 {
    font-size: 20px;
    font-weight: bold;
}

#notifications .btn {
    color: white;
    margin-bottom: 4px;
}

#notif {
    position: relative;
}

#bell-notif {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    background-color: red;
}

#notifications .acc-req {
    background-color: green;
}

#notifications .ref-req {
    background-color: red;
}

.req-notif {
    width: 100%;
    height: 60px;
    display: flex;
    gap: 10px;
    border: 1px solid whitesmoke;
    align-items: center;
    justify-content: center;
}

.clear-notif {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accepted-req {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 40px;
    gap: 4px;
    border: solid 1px darkgray;
}