/* flex box can work with parent and childs.
=> parent: display:flex, justify-items, align-items etc....
=> child: flex-grow:0 (default value), flex-shrink:1(default value), order  etc....;
*/
/* user-name (first last email) profile-pic score ranking Match history */
/* fixed position in relation with the window */
/* absolute position in relation with the first parent */
/* relative position in relation with himself */
/* sticky work when you scroll up to its position and keeps sticky in the place that you determine .login .. */
/* z-index work with position (any kind of position) and the element with the biggest value will show up if its covered (-1 will be covered with all elements)*/
/* !!! outline is the same as border but dont effect the with of the container and cant control every side of the outline/border */
/* transparent for background "???"*/
/* box-sizing to search when needed */
/* declare a variable --variableName, and use the variable with var(variableName, fallbackValue) */
/* filter property to look after (useful for hover effects and more) */
/* pointer-events: none; (useful with javascript events) */
/* content element to fill the content of the container */

/* properies values can be inherited from their parents with "inherit" value*/

/* Inheritable CSS Properties:
Common CSS properties that are inheritable by default include:

color
font-family
font-size
font-style
font-weight
line-height
text-align
text-indent
text-transform
visibility */

/* ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
} */

/* Background of the scrollbar track */
/* ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
} */

/* Handle of the scrollbar */
/* ::-webkit-scrollbar-thumb {
    background: rgb(141, 84, 141);
    border-radius: 10px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: rgb(80, 55, 80);
} */

@media (min-width: 0px) and (max-width: 575px) {
    /* Your CSS styles for Extra Small devices */
    #main {
        width: 277px;
        margin: auto;
        height: 90vh;
    }
    #profile-img {
        width: 46px !important;
        height: 46px !important;
    }
    #design {
        margin-top: 10px;
        height: 40% !important;
    }
    #play-block {
        display: none;
    }
    #main-img {
      display: none;
    }
    #logout {
        display: none;
    }
    .ll h3 {
        display: none !important;
    }
    .btn i {
        font-size: 3.5vw;
        padding: auto;
    }
    #contain {
        display: flex;
        justify-content: center;
        gap: 1%;
        position: relative !important;
        top: -37px !important;
    }
    .navig {
        width: fit-content !important;
        margin: 0 !important;
    }
    #profile-img {
        display: block !important;
    }
    #profile-img > i {
        font-size: 22px !important;
        position: relative;
        left: 12px;
        top: 9px;
    }
    #icon {
        height: 64px !important;
        width: 64px !important;
        margin: 0 !important;
    }
    #icon > img {
        height: 100% !important;
    }
    #nav {
        flex-direction: row !important;
        height: 7vh !important;
        max-width: 100% !important;
        justify-content: center;
        /* align-items: center; */
    }
    #description {
        margin-top: 3% !important;
    }
    h1 {
        font-size: 22px !important;
    }
    p {
        font-size: 12px !important;
    }
    #games {
        height: 75% !important;
        position: relative;
        bottom: 50px;
    }
}

@media (min-width:576px) and (max-width:767px) {
    /* Your CSS styles for small devices */
    #main {
        width: 293px;
        margin: 25px auto;
        height: 50vh;
    }
    #description {
        margin-top: 3% !important;
        width: 100%;
    }
    #design {
        margin-top: 10px;
        height: 40% !important;
    }
    #play-block {
        display: none;
    }
    #main-img {
      display: none;
    }
    .ll h3 {
        display: none !important;
    }
    .btn i {
        font-size: 3.5vw;
        padding: auto;
    }
    .navig {
        width: fit-content !important;
    }
    #logout {
        width: fit-content !important;
    }
    #nav {
        max-width: 16.66666667% !important;
    }
    #icon > img {
        height: 80px !important;
        width: 100px !important;
        margin-bottom: 30% !important;
    }
    h1 {
        font-size: 25px !important;
    }
    p {
        font-size: 12px !important;
    }
    #games {
        height: 80% !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Your CSS styles for medium devices */
    #description {
        width: 100%;
        margin-top: 5%;
    }
    #main-img {
        display: none; /* Example adjustment for readability on tablets */
    }
    #ping-pong, #XO {
        margin-left: 0px;
        height: 170px !important;
        width: 250px !important;
        margin-right: 4%;
    }
    #play-block {
        display: none;
    }
    #games {
        position: relative;
        bottom: 30%;
        height: 30% !important;
        width: fit-content;
    }
    #img1, #img2 {
        position: relative;
        right: 11px;
        height: 100% !important;
        width: 240px !important;
        margin-bottom: 0 !important;
        box-shadow: 0px 0px 10px 0px violet;
        border-radius: 10%;
    }
    #main {
        width: 72%;
        margin: 3% auto;
    }

    .ll h3 {
        display: none !important;
    }
    .btn i {
        font-size: 20px;
    }
    .ll {
        text-align: center !important;
    }
    .navig {
        width: fit-content !important;
    }
    #logout {
        width: fit-content !important;
    }
    #icon > img {
        height: 80px !important;
        width: 100px !important;
        margin-bottom: 30% !important;
    }
    h1 {
        font-size: 3.5vw;
    }
}

.btn i {
    font-size: 20px;
}

/* #linkk {
    font-size: 100px;
} */

::selection { /* pseudo element */
    background-color: rgb(136, 67, 136);
    color: rgb(214, 214, 236);
}

/* overflow: hidden; */ /* auto is better than scroll option, and there is x and y */
body {
    margin: 0;
    background-color: rgb(0, 21, 52);
}

/* #contain {
    position: relative;
    top: 20%;
} */

i {
    color: whitesmoke;
    /* font-size: 1.5vw; */
    /* filter: drop-shadow(-4px 3px 5px blueviolet); */
}

h1 {
    font-family: 'Games', sans-serif;
    font-size: 32px;
}

#logout {
    margin-top: auto;
    margin-bottom: 10%;
}

#nav {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 3%;
    margin-top: 0;
    background-color: rgb(10 19 57);
    color: whitesmoke !important;
    box-shadow: inset 0 0 3px 0px whitesmoke;
    height: 100vh;
    max-width: 215px;
}

.navig, #logout {
    height: 50px;
    width: 90%;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: calc(100% - 215px);
    gap: 20px;
    height: 100vh;
    background-color: rgb(0, 21, 52);
    transition: all 0.5s;
}

#online-friends {
    background-color: rgb(10 19 57);
    border: 2px solid white;
    border-radius: 20px;
    width: 25%;
    min-width: 250px;
    max-width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#full-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

#online-container {
    overflow-y: auto;
    width: 95%;
    height: 90%;
    border: 2px solid white;
    border-radius: 10px;
}

#icon > img {
    height: 100px;
    width: 120px;
    border: 2px solid #9477fa;      /* border can be modified in every side; */
    box-shadow: 0px 0px 10px #9477fa;
    border-radius: 50%;
    /* margin: auto; */
    /* keep if good */
    /* animation: logo 3s infinite;  */
}

.unclick {
    width: 100%;
    height: 100vh;
    background-color: rgb(0 21 52 / 29%);
    position: absolute;
    z-index: 4;
}

#icon {
    /* height: 15%; */
    /* width: 80%; */
    margin-top: 15px;
}

/* still 20% of the height remaining */

#home-navbar {
    background-color: rgb(10 19 57);
    border-radius: 20px;
    box-shadow: 0 0 2px black;
    display: flex;
    align-items: center;
    height: 10%;
    width: 95%;
    min-width: 600px;
    justify-content: space-evenly;
}

#home-navbar i:not(#search-bar i) {
    font-size: 25px;
}

.search-icons {
    border-radius: 10px;
    height: 60%;
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#search-bar {
    background-color: #001534 !important;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background-color: white;
    width: 67%;
    height: 60%;
    box-shadow: 0 0 3px white;
    border-radius: 10px;
}

#search-bar input {
    color: white;
    background-color: #001534;
    width: 90%;
    height: 100%;
    border: none;
}

#search-bar input:focus-visible {
    outline: none;
}

#search-bar i {
    font-size: 20px;
    color: gray;
}

.search-icons div {
    width: 45px;
    height: 45px;
    background-color: rgb(96 96 96);;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icons .btn {
    background-color: #454152e6;
    box-shadow: none;
}

.search-icons i {
    display: block;
}

#design {
    min-width: 700px;
    display: flex;
    position: relative;
    height: 50%;
    width: 95%;
    background-color: rgb(10 19 57);
    border-radius: 20px;
    box-shadow: 0 0 6px black;
}

#main-img {
    min-width: 463px;
    width: 65%;
    height: 100%;
    background-image: url(images/design3.png);
    background-size: cover;
    margin: auto;
    /* filter: drop-shadow(0px 0px 5px black); */
}

#ping-pong, #XO {
    cursor: pointer;
    margin-left: 0;
    height: 170px;
    width: 250px;
}

#img1, #img2 {
    height: 170px;
    width: 250px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px violet;
    border-radius: 10%;
    transition: all 0.2s;
    opacity: 1;
}

#img1:hover, #img2:hover {
    border: 1px solid white !important;
    /* width: 255px;
    height: 175px; */
    opacity: 0.7;
}

#games {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30%;
    width: 75%;
    margin: 0;
    min-width: 700px;
    background-color: rgb(10 19 57);
    border-radius: 20px;
    box-shadow: 0 0 2px black;
}

#games-cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
}

#games-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#games h1 {
    color: whitesmoke;
    margin-left: 55px;
    text-align: center;
}

p {
    font-family: sans-serif;
}

#description {
    color: whitesmoke;
    font-family: 'Games', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 35%;
    height: 90%;
    margin: auto 30px;
    justify-content: center;
}

#description p {
    font-family: sans-serif;
    color: rgb(207, 206, 206);
    font-size: 20px;
}

/* play Button */

/* button {
    border: none;
} */

#play-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 170px;
    height: 50px;
    background-color: #6d349cdb;
    box-shadow: 0px 0px 5px #977097;
    font-family: sans-serif;
    border-radius: 10px;
}

#play-block:hover {
    border: 1px solid white;
    opacity: 0.9;
}

#play-button {
    font-size: 20px;
    background-color: #ffffff00;
}

#play-icon {
    font-size: 40px;
    cursor: pointer;
}

/* end of button */

span {
    color: blueviolet;
}

a, button {
    text-decoration: none;
    color: whitesmoke;
    padding-top: 8px;
}

.btn {
    border: none;
}
/*hover effect for buttons without 'link' */
.btn:not(.link, .accept, .refuse):hover {
    background-color: rgba(83, 83, 83, 0.473);
    box-shadow: 0px 0px 8px 2px rgba(83, 83, 83, 0.473);
}

.ll {
    display: flex;
    /* justify-content: center; */
    gap: 6%;
}

.btn h3 {
    font-size: 20px;
    color: white;
}

/* .btn {
    color: whitesmoke;
    border: none;
} */

.link {
    background-color: #6d349c8a;
    border: none;
    box-shadow: 0px 0px 8px 2px #6d349c;
    margin: 0 auto;
    transition-duration: 0.5s;
    height: 100% !important;
}

.link:hover {
    background-color: #6d349c8a;
}

#profile-img {
    border: 1px solid #9c949c;
    box-shadow: 0px 0px 10px violet;
    border-radius: 50%;
    width: 64px;
    height: 64px;
}
